<h1>Category: <%= @category.name %></h1>
<%= link_to "Add Recipe to Category", new_category_bookmark_path(@category) %>
<h2>Recipes in this Category:</h2>

<ul>
  <% @category.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.recipe.name %> |
      <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ul>
<%= link_to "Home", categories_path %>
