<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @category.photo.attached? ? cl_image_path(@category.photo.key) : "default_image_url_here" %>'); height: 300px;">
  <div>
    <h1><%= @category.name %></h1>
    <h3>Save your favourite recipes</h3>
  </div>
</div>

<div class="container">
   <div class="info-top">
    <h1>Recipes</h1>
    <%= link_to "Add Recipe", new_category_bookmark_path(@category), class:"btn btn-warning" %>
  </div>

  <div class="cards">
    <% @category.bookmarks.each do |bookmark| %>
      <div class="card-recipe">
        <i class="fa-solid fa-trash-can-xmark"><%= link_to "Delete recipe", bookmark_path(bookmark),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%></i>
        <img src="<%=bookmark.recipe.image_url%>" alt="recipe_image">

        <div class="card-recipe-description">
          <h2><%= bookmark.recipe.name %></h2>
          <p><%= bookmark.recipe.description.truncate(200) %></p>
        </div>

        <div class="card-recipe-info">
          <div>
          <%= bookmark.comment %>
          </div>

          <div>
            <%= bookmark.recipe.rating %> <%= 'â­ï¸' * bookmark.recipe.rating %>
          </div>
        </div>

      </div>
    <% end %>
  </div>

</div>

<%# <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
 <%# <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <%# <i class="fa-solid fa-trash-can-xmark"></i> %>
      <%# <% end %>
